{% extends 'layout.html' %}


{% block title %} FindHim | {{profile.name}} {% endblock %}

{% block content %}

<div class="row" style="margin: auto">

    <div class="col-sm-5 text-center py-5">
        <div class="col-sm-5 mb-5 profile-left">
            <div class="py-5 px-4">
                <img src="{{profile.profile_image.url}}" width="150" class="img-fluid rounded-circle mb-3 ">
                <h5>{{profile.name}}</h5>
                <h6 class="text-muted">{{profile.short_intro}}</h6>
                <p class="text-muted">{{profile.location}}</p>
                {% if profile.social_github %}
                    <a href="{{profile.social_github}}"><i class="fab fa-github"></i></a>
                {% endif %}
                {% if profile.social_telegram %}
                    <a href="{{profile.social_telegrem}}"><i class="fab fa-telegram-plane"></i></a>
                {% endif %}
                {% if profile.social_linkedin %}
                    <a href="{{profile.social_linkedin}}"><i class="fab fa-linkedin-in"></i></a>
                {% endif %}
                {% if profile.social_twitter %}
                    <a href="{{profile.social_twitter}}"><i class="fab fa-twitter"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-7 py-5">
        <div class="profile-info">
            <h4>ABOUT ME</h4>
            <p>{{profile.bio}}</p>
            <h4>SKILLS</h4>
            {% for skill in profile.skill_set.all %}
                <p class="tag tag--pill tag--sub tag--lg">
                    {{skill.name}}
                </p>
            {% endfor %}
<!--            <h5>OTHER SKILLS</h5>-->
<!--            {% for skill in other_skills %}-->
<!--                <p>{{skill}}</p>-->
<!--            {% endfor %}-->
            <div class="self-projects py-1">
                <h4>PROJECTS</h4>
                <div class="row py-2">
                {% for project in profile.project_set.all %}
                        <div class="col-sm-5 mb-5 ">
                            <a href="{% url 'project' project.id %}" class="project" style="text-decoration: none; color: #171717">
                                <div class="card">
                                    <div class="bg-white rounded shadow-sm py-1 p-1">
                                        <img src="{{project.featured_image.url}}" alt="" width="400" class="img-fluid rounded mb-3">
                                        <h5 class="mb-0 ps-2">{{project.title}}</h5>
                                        <ul class="social mb-0 list-inline mt-3 ps-2">
                                            <li class="project-card">{{project.vote_ratio}}% Positive Feedback
                                                {% if project.vote_total <= 1 %}
                                                 ({{project.vote_total}} Vote)
                                                {% else %}
                                                    ({{project.vote_total}} Votes)
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}